<p>galaktika works!</p>
<form [formGroup]="formGroup" (submit)="onSubmit(formGroup)">
  <button type="button" (click)="generateRequests(formGroup)">Generate Form Controls</button>
  <br>
  <br>
  <!--<div *ngFor="let formControl of responseList">
    <app-dynamic-form-question [form]="formLogic" [formControlModel]="formControl!.value.action"></app-dynamic-form-question>
  </div>-->
  <br>
  <button *ngIf="responseList.length" type="submit">
    On Submit
  </button>
</form>

<br>

<div *ngIf="isLoading">Is loading... Finished {{ finishedRequest }} / {{ totalRequestCount }} requests.</div>

<table *ngIf="responseList.length && !isLoading">
  <thead>
    <tr>
      <td>Request Number</td>
      <td>Request Time</td>
      <td>Server Response Time</td>
      <td>Response Log Time</td>
      <td>Request Duration</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let response of responseList">
      <td>{{ response.value.order }}</td>
      <td>{{ response.value.requestTimestamp | date:'H:mm:ss' }}</td>
      <td>{{ response.value.responseTimestamp | date: 'H:mm:ss' }}</td>
      <td>{{ response.timestamp | date:'H:mm:ss' }}</td>
      <td>{{ response.timestamp - response.value.requestTimestamp | date: 's' }} sec</td>
    </tr>
  </tbody>
</table>

<br>

<div *ngIf="!!formDatRaw">
  <h3>Form Data Result:</h3>
  <span>{{ formDatRaw | json }}</span>
</div>
