<div class="control-ber">
  <button (click)="changeThemeTokens()">
    Generate new tokens
  </button>
  <button (click)="updateThemeTokens()">
    Download new tokens
  </button>
</div>

<H1 class="first">
  Some content for examples
</H1>

<H1 class="second">
  Loreum Ipsum Bla bla bla
</H1>

<section class="wrapper-colors">
  <div class="base success">
    <div class="color-title">--isp-background-success</div>
    <div class="hover"></div>
    <div class="active"></div>
  </div>
  <br>
  <div class="base warning">
    <div class="color-title">--isp-background-warn</div>
    <div class="hover"></div>
    <div class="active"></div>
  </div>
</section>
