@use "sass:map";

// hsl(137, 65%, 30%)

$tokens: (
  background: (
    test: (
      hsl(137, 65%, 30%)
    ),
    main: #f9f9f9,
    additional: #ffffff,
    contrast: #202e3b,
    list: #e9f2ff,
    accent: #ffe03a,
    info: #0063db,
    info-secondary: #f7faff,
    success: #1b7f37,
    success-secondary: #f5fff9,
    warning: #f88b25,
    warning-secondary: #fffceb,
    danger: #db0444,
    danger-secondary: #fbf1f2,
  ),
  border: (
    default: #d9d9d9,
    interactive: #0063db,
    info: #2989ff,
    success: #00a249,
    warning: #ebc600,
    danger: #e27281,
  ),
  graph: (
    blue: #5f77d1,
    blue-purple: #967ef4,
    purple: #b977ee,
    pink: #d16a9c,
    pale-red: #a43a4a,
    red: #bb104d,
    pale-orange: #f08867,
    orange: #ff7a1a,
    warm-yellow: #f9aa04,
    yellow: #f9d44f,
    green: #65c84d,
    light-blue: #bbebfb,
    pale-blue: #9ac4e2,
    bright-blue: #7ab8ff,
    light-purple: #abbafc,
    dark-blue: #6e74bd,
    blue-grey: #344a5e,
  ),
  icon: (
    main: #17212a,
    contrast: #ffffff,
    info: #2989ff,
    additional: #7d9db9,
    onField: #979797,
    success: #00a249,
    warning: #f88b27,
    danger: #db0444,
  ),
  neutral: (
    base: #727272,
    lowContrast-10: #d9d9d9,
    lowContrast-20: #eeeeee,
    lowContrast-30: #f4f4f4,
  ),
  shadow: (
    base: #1f364a,
  ),
  table: (
    background: #ffffff,
    background-selected: #e5efff,
    background-odd: #f4f4f4,
    background-odd-selected: #c7deff,
    background-even-selected: #e5efff,
    backgroun-hover: #e0ebff,
    backgroundDeleted: #fafafa,
  ),
  text: (
    main: #17212a,
    contrast: #ffffff,
    additional: #878787,
    interactive: #0063db,
    accent: #ffe03a,
    success: #1b7f37,
    warning: #cc4d0a,
    danger: #db0444,
    disabled: #979797,
  ),
);
